<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/navbar") %>
    <section class="content">
        <h2>All Blogs</h2>
        <% if (blogs.length > 0) { %>
            <%blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title%></h3>
                <p class="description"><%= blog.description%></p>
                <a href=<%= `blogs/${blog.id}` %> class="read-more">Read more</a>
            <% }); %>
        <% } else { %>
            <p class="no-blogs-message">No blogs yet</p>
        <% } %>
    </section>
    <%- include("./partials/footer") %>
</body>
</html>